<body>
  <nav>
  <a href="/assignments"><i class="fa-solid fa-paperclip fa-beat" style="--fa-animation-duration: 2s;"></i></a>
  <a href="/profiles"><i class="fa-solid fa-graduation-cap fa-flip"style="--fa-animation-duration: 3s;"></i></a>
  
</div>
</nav>