html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 100%;
}

body {
  display: flex ;
  flex-direction: column;
  align-items: center;
  background-color: #219ebc;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #ffb703;
}

nav {
  background-color: #8ecae6;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.3rem;
}

.font-large{
  font-size: 3rem;
}

.bordered{
  border: 1px solid black;
}

.margin-top{
  margin-top: 1rem;
}

.centered-all{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column{
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.jumbotron{
  width: 500px;
  margin-top: 15% ;
  text-align: center;
}

.one-line-text{
  text-align: center;
  font-size:xx-large;
  width: 500px;
}

.assignment-show{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33% ;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  font-size: x-large;
  align-content: space-evenly ;
}

.assignment-show-button{
  grid-column-start: 2;
}